@media (max-width: 400px) {
  .chatbot-container {
    width: 100vw !important;
    height: 100vh !important;
    border-radius: 0 !important;
  }
}
.chat-input-container {
  position: sticky;
  bottom: 0;
  background-color: #000;
  z-index: 10;
}
